@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "DownloadedNotes";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, intial-scale=1">

    <title>Downloaded Notes</title>
    <link href="~/Content/AdminCss/style.css" rel="stylesheet">

    <link href="~/Content/AdminCss/responsive.css" rel="stylesheet">


    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
          rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="~/Content/AdminCss/font-awesome/css/all.css">

</head>

<body>



    <section class="download_it">

        <div class="container">


            <p id="tit"> Downloaded Notes </p>
            @using (Html.BeginForm("DownloadNotes", "Admin", FormMethod.Get, new { id = "AllSeachNote" }))
            {
                <div class="mid-head">

                    <div class="drops">

                        <div class="search_detail">
                            <p>Note</p>
                        </div>

                        <div class="dropdown_tic">
                          
                            @Html.DropDownList("AllNotes", (SelectList)ViewBag.AllNotes, "Select Notes", new { id = "AllNotes", name = "AllNotes", @class = "form-control", onchange = "NoteFunction();" })

                        </div>

                    </div>


                    <div class="drops">

                        <div class="search_detail">
                            <p>Seller</p>
                        </div>

                        <div class="dropdown_tic">
                           
                            @Html.DropDownList("SellerName", (SelectList)ViewBag.SellerName, "Select Seller", new { id = "SellerName", name = "SellerName", @class = "form-control", onchange = "NoteFunction();" })

                        </div>
                    </div>

                    <div class="drops">
                        <div class="search_detail">
                            <p>Buyer</p>
                        </div>

                        <div class="dropdown_tic">
                   
                            @Html.DropDownList("BuyerName", (SelectList)ViewBag.BuyerName, "Select Buyer", new { id = "BuyerName", name = "BuyerName", @class = "form-control", onchange = "NoteFunction();" })

                        </div>

                    </div>



                    <div style="display:flex; align-items:center;">
                        <div class="search form-inline">
                            <div class="searchContainer form-group">
                                <i class="fas fa-search form-control-feedback "></i>
                                <input type="text" name="Search" class="form-control" placeholder="Search" />
                            </div>

                        </div>
                        <div class="bttn">
                            <button type="submit" class="btn allBtn">SEARCH</button>
                        </div>
                    </div>


                </div>
            }





            <div class="row downloads-table">

                <div class="col-md-12">
                    <div class="table-responsive{-sm|-md|-lg|-xl} data-table down_table">
                        <table class="table table-bordered text-nowrap">
                            <thead>
                                <tr>
                                    <th class="text-center">SR NO.</th>
                                    <th>@Html.ActionLink("TITLE", "DownloadNotes", new { SortOrder = ViewBag.TitleSortParam, Search = Request.QueryString["Search"] })</th>
                                    <th>@Html.ActionLink("CATEGORY", "DownloadNotes", new { SortOrder = ViewBag.CategorySortParam, Search = Request.QueryString["Search"] })</th>
                                    <th>@Html.ActionLink("BUYER", "DownloadNotes", new { SortOrder = ViewBag.BuyerSortParam, Search = Request.QueryString["Search"] }) </th>
                                    <th></th>
                                    <th>@Html.ActionLink("SELLER", "DownloadNotes", new { SortOrder = ViewBag.SellerSortParam, Search = Request.QueryString["Search"] })</th>
                                    <th></th>
                                    <th>@Html.ActionLink("SELL TYPE", "DownloadNotes", new { SortOrder = ViewBag.SellTypeSortParam, Search = Request.QueryString["Search"] }) </th>
                                    <th>@Html.ActionLink("PRICE", "DownloadNotes", new { SortOrder = ViewBag.PriceSortParam, Search = Request.QueryString["Search"] }) </th>
                                    <th>@Html.ActionLink("DOWNLOADED DATE/TIME", "DownloadNotes", new { SortOrder = ViewBag.DateSortParam, Search = Request.QueryString["Search"] }) </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ IPagedList<Notes_MarketPlace.Models.AdminDownloadNotes> DownloadedNotes = ViewBag.downloadsnotes; }

                                @{ var count = 0;
                                    if (DownloadedNotes.Count == 0)
                                    {
                                        <tr>
                                            <td colspan="11" class="text-center NoRecord">No Records Found</td>
                                        </tr>
 } }

                                @foreach (var item in DownloadedNotes)
                                {

                                    <tr>
                                        <td class="text-center">@(count + ((DownloadedNotes.PageNumber - 1) * DownloadedNotes.PageSize) + 1)</td>
                                        <td><a style="color:#6255a5" href="/Admin/NoteDetails_admin/@item.downloads.NoteID">@item.downloads.NoteTitle</a></td>
                                        <td>@item.downloads.NoteCategory</td>
                                        <td>
                                            @item.buyer.FirstName @item.buyer.LastName
                                        </td>
                                        <td class="eye-image"><a href="/AdminMember/MemberDetails/@item.buyer.ID"><img src="~/Content/admin/images/Dashboard/eye.png" alt=""></a> </td>
                                        <td>
                                            @item.seller.FirstName @item.seller.LastName
                                        </td>
                                        <td class="eye-image"><a href="/AdminMember/MemberDetails/@item.seller.ID"><img src="~/Content/admin/images/Dashboard/eye.png" alt=""></a></td>
                                        <td>
                                            @if (@item.downloads.IsPaid == true)
                                            {
                                                <p>Paid</p> }
                                            else
                                            {
                                                <p>Free</p>}
                                        </td>
                                        <td>

                                            @if (@item.downloads.IsPaid == true)
                                            {
                                                <p> $<span class="count"> @item.downloads.PurchasedPrice</span></p> }
                                            else
                                            {
                                                <p>$0</p>}

                                        </td>
                                        <td>
                                            @item.downloads.AttachmentDownloadedDate.Value.ToString("dd-MM-yyyy, HH:mm")
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <i class="fas fa-ellipsis-v" type="button" id="dropdownMenuButton"
                                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                </i>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-right "
                                                     aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="/Front/AttechedFile/@item.downloads.NoteID">Download Notes</a>
                                                    <a class="dropdown-item" href="/Admin/NoteDetails_admin/@item.downloads.NoteID">View More Details</a>

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    { count = count + 1; }
                                }

                               
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>


            <div class="row paging">
                <div class="col-md-12 text-center">
                  

                        @Html.PagedListPager(DownloadedNotes, page => Url.Action("DownloadNotes", new
                   {
                       page,
                       Search = Request.QueryString["Search"],
                       SortOrder = Request.QueryString["SortOrder"],
                       SellerName = Request.QueryString["SellerName"],
                       BuyerName = Request.QueryString["BuyerName"],
                       AllNotes = Request.QueryString["AllNotes"]
                   })
, new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded,
    DisplayPageCountAndCurrentLocation = false,
    MaximumPageNumbersToDisplay = 5,
    LiElementClasses = new string[] { "pagination" },
}
)

                  
                </div>
            </div>
        </div>
        </div>
    </section>



    <script src="~/Scripts/AdminJs/bootstrap/popper.min.js"></script>

    <script src="~/Scripts/AdminJs/script.js"></script>

</body>

</html>