@model Notes_MarketPlace.Models.AdminUserProfileModel
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, intial-scale=1">

    <title>My Profile</title>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/AdminCss/font-awesome/css/all.css">

    <link rel="stylesheet" href="~/Content/css/forms.css">

    <link rel="stylesheet" href="~/Content/css/responsive-forms.css">

</head>

<body>

    <section id="my-profile">

        <div class="container" id="my-profile-box">


            <h2 style="padding-bottom: 20px; color: #6255a5; font-weight: 600;">My Profile</h2>

            @using (Html.BeginForm("MyProfile", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <input type="hidden" id="exampleInput" name="UserID" value="@Model.ID">
                            <label for="mp-firstname">First Name *</label>
                          
                            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @value = "@Model.FirstName", @placeholder = "Enter Your FirstName" })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger errormessage" })


                        </div>
                        <div class="form-group">
                            <label for="mp-lastname">Last Name *</label>
                           
                            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", @value = "@Model.LastName", @placeholder = "Enter Your LastName" })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger errormessage" })



                        </div>
                        <div class="form-group">
                            <label for="mp-email">Email *</label>
                          

                            @Html.TextBoxFor(x => x.EmailID, new { @class = "form-control", @value = "@Model.EmailID", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger errormessage" })

                        </div>
                        <div class="form-group">
                            <label for="mp-secemail">Secondary Email</label>
                          
                            @Html.TextBoxFor(x => x.SecondaryEmail, new { @value = "@Model.SecondaryEmail", @class = "form-control", @placeholder = "Enter Your Secondary Email" })
                            @Html.ValidationMessageFor(model => model.SecondaryEmail, "", new { @class = "text-danger errormessage" })


                        </div>
                        <div class="form-group">
                            <label for="mp-pnumber mp-ccode">Phone Number</label><br>
                            @Html.DropDownList("PhoneCountryCode", ViewBag.PhoneCountryCode as SelectList, "select Country Code", htmlAttributes: new { @class = "form-control", name = "PhoneCountryCode" })

                            @Html.ValidationMessageFor(model => model.PhoneCountryCode, "", new { @class = "text-danger errormessage" })




                            @Html.TextBoxFor(x => x.PhoneNumber, new { @value = "@Model.PhoneNumber", @class = "form-control phone-number-input", @placeholder = "Enter Your Phone Number" })
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger errormessage" })


                        </div>
                        

                        <div class="form-group">
                            <label for="ppicture">Profile Picture</label><br>
                            <a onClick="document.getElementById('ppicture').click()" class="btn" id="upload-btn">

                                <img id="img-preview" src="" alt="Image Preview">

                                <span id="default-text">
                                    <img src="~/Userimages/user-profile/upload.png" alt="upload"><br>
                                    Upload a picture
                                </span>

                            </a>
                            @Html.ValidationMessageFor(x => x.ProfilePicture, "", new { @class = "text-danger" })

                            <input type="file" class="form-control" style="display: none" id="ppicture" name="ProfilePicture" />
                      
                        </div>
                    </div>

                </div>

                <button class="submit-btn btn" type="submit">SUBMIT</button>

            }

        </div>

    </section>





    <script src="~/Scripts/AdminJs/bootstrap/popper.min.js"></script>

    <script src="~/Scripts/AdminJs/script.js"></script>



</body>

</html>