@model Notes_MarketPlace.Models.SellerNotes
@{
    ViewBag.Title = "NoteDetails_admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="shortcut icon" href="images/home/favicon.ico">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap">

    <link rel="stylesheet" type="text/css" href="~/Content/css/details.css">

    <script type="text/javascript" scr="~/Script/js/style.js"></script>


    <link rel="stylesheet" href="~/Content/css/details-responsive.css">

    <title>Note Details</title>
</head>

<body>
    <div class="container nd-main-container">
        <div class="row note-section">
            <div class="col-md-6">
                <div class="row">
                    <span class="note-section-title">Notes Details</span>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <img class="book-img" src="@Url.Content(ViewBag.dispic)">
                    </div>
                    <div class="col-md-6 book-details">
                        <span class="nd-book-title">@Html.DisplayFor(data => data.NoteTitle)</span>
                        <p class="book-subtitle">@Html.DisplayFor(data => data.NoteCategories.CategoryName)</p>
                        <p class="book-description">@Html.DisplayFor(data => data.NoteDescription)</p>

                        @using (Html.BeginForm("DownloadNote", "HomePage", FormMethod.Post, new { }))
                        {

                            if (Model.isPaid == false)
                            {

                                <button class="download-btn" data-toggle="modal" data-target="#exampleModalLong">DOWNLOAD</button>
                            }
                            else
                            {
                                <button class="download-btn" data-toggle="modal" onclick="return confirm('Are you sure you want to purchase  this Paid Note ?');" data-target="#exampleModalLong">DOWNLOAD / <span>$@Model.SellPrice</span></button>
                            }
                        }
                    </div>
                </div>
            </div>



            <!-- Modal -->
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="margin-top:auto;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="border: none;">
                            <div class="model">
                                <img src="~/Userimages/NoteDetails/SUCCESS.png" /><br>
                                <span>Thank you for Purchasing!</span>
                            </div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: relative;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="model-body">
                            <span>Dear Smith,</span>
                            <p>
                                As this paid notes - you need to pay to seller Rahil Shah offline. We will send him an email that you want to download this note. He may contact you futher for payment process completion.
                            </p>
                            <p>
                                In case, you have emergency, Please contact us on +9195377345959.
                            </p>
                            <p>
                                Once he receives the payment and acknoledge us - selected notes you can see over my download tab for download.
                            </p>
                            <p>
                                Have a good day.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Modal End -->



            <div class="col-md-6 book-details-table">

                <table class="table borderless">

                    <tr>
                        <td class="column-name ">Institution:</td>
                        <td class="column-data ">@Html.DisplayFor(data => data.UniversityInformation)</td>
                    </tr>
                    <tr>
                        <td class="column-name">Country:</td>
                        <td class="column-data">@Html.DisplayFor(data => data.Country1.CountryName)</td>
                    </tr>
                    <tr>
                        <td class="column-name">Course Name:</td>
                        <td class="column-data">@Html.DisplayFor(data => data.Course)</td>
                    </tr>
                    <tr>
                        <td class="column-name">Course Code:</td>
                        <td class="column-data">@Html.DisplayFor(data => data.CourseCode)</td>
                    </tr>
                    <tr>
                        <td class="column-name">Professor:</td>
                        <td class="column-data">@Html.DisplayFor(data => data.ProfessorName)</td>
                    </tr>
                    <tr>
                        <td class="column-name">Number Of Pages:</td>
                        <td class="column-data">@Html.DisplayFor(data => data.NumberOfPages)</td>
                    </tr>
                    <tr>
                        <td class="column-name">Approved Date:</td>
                        <td class="column-data">November 20 2001</td>
                    </tr>
                    <tr>
                        <td class="column-name">Rating:</td>
                        <td class="column-data">


                            @{ var ratingSum = @Model.SellerNotesReviews.Where(x => x.NoteID == @Model.ID).Select(x => x.Ratings).Sum();
                                var ratingCount = @Model.SellerNotesReviews.Where(x => x.NoteID == @Model.ID).Count(); }


                            @if (ratingCount > 0)
                            {

                                for (int i = 1; i <= Math.Round(ratingSum / ratingCount); i++)
                                {
                                    <i class="text-warning fa fa-star"></i> }
                                for (int i = 1; i <= 5 - Math.Round(ratingSum / ratingCount); i++)
                                {
                                    <i class="text-muted fa fa-star"></i>}
                            }
                            @if (ratingCount == 0)
                            {
                                for (int i = 1; i <= 5; i++)
                                {
                                    <i class="text-muted fa fa-star"></i>}
                            }
                            <span>@Model.SellerNotesReviews.Where(x => x.NoteID == @Model.ID).Count() Reviews</span>


                        </td>
                    </tr>
                    <tr>
                        <td class="review-note">@Model.SellerNotesReportedIssues.Where(x => x.NoteID == @Model.ID).Count() User marked this note as inappropriate </td>
                    </tr>

                </table>

            </div>
        </div>
  
        <div class="row note-preview">
            <div class="col-md-5">
                <div class="row">
                    <span class="note-preview-title">Notes Preview</span>
                </div>
                <div class="row">
                    <iframe src="@Url.Content(ViewBag.notepre)"></iframe>
                </div>
            </div>
            <div class="col-md-7">
                <div class="row ">
                    <span class="customer-review-title">Customer Reviews</span>
                </div>
                <div class="row reviews-section">
                    <div class="row">

                        <div class="row review">
                            <div class="col-md-2">
                                <img class="customer-img" src="images/NoteDetails/user-img.png">
                            </div>
                            <div class="col-md-9 customer-details">
                                <span>Richard Brown</span>
                                <p>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star-o"></span><br>
                                    <span class="given-review">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                </p>
                            </div>
                        </div>
                        <div class="row review">
                            <div class="col-md-2">
                                <img class="customer-img" src="images/NoteDetails/user-img.png">
                            </div>
                            <div class="col-md-9 customer-details">
                                <span>Richard Brown</span>
                                <p>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star-o"></span><br>
                                    <span class="given-review">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                </p>
                            </div>
                        </div>
                        <div class="row review">
                            <div class="col-md-2">
                                <img class="customer-img" src="images/NoteDetails/user-img.png">
                            </div>
                            <div class="col-md-9 customer-details">
                                <span>Richard Brown</span>
                                <p>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star-o"></span><br>
                                    <span class="given-review">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


</body>

</html>
