@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "SpamReports";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 ,user-scalable=no">

    <title>Spam Reports</title>
    <link rel="shortcut icon" href="images/home/favicon.ico">

    <link href="~/Content/AdminCss/style.css" rel="stylesheet">

    <link href="~/Content/AdminCss/responsive.css" rel="stylesheet">


    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="~/Content/AdminCss/font-awesome/css/all.css">

</head>

<body>

    <section id="main">

        <div class="container">
            <div class="middle-head">
                <p> Spam Reports </p>

                @using (Html.BeginForm("SpamReports", "Admin", FormMethod.Get, new { id = "AllSeachNote" }))
                {
                    <div class="search form-inline">
                        <div class="searchContainer form-group">
                            <i class="fas fa-search form-control-feedback "></i>
                            <input name="Search" type="text" class="form-control" placeholder="Search" />
                        </div>
                    </div>
                    <div class="bttn">
                        <button type="submit" class="btn allBtn">SEARCH</button>
                    </div>
                }

            </div>


            <div class="row spam-reports-table">

                <div class="col-md-12">
                    <div class="table-responsive{-sm|-md|-lg|-xl} data-table  spam_table">
                        <table class="table table-bordered text-nowrap">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">SR NO.</th>
                                    <th scope="col">@Html.ActionLink("Reported By", "SpamReports", new { SortOrder = ViewBag.ReportedBySortParam, Search = Request.QueryString["Search"] })</th>
                                    <th scope="col">@Html.ActionLink("TITLE", "SpamReports", new { SortOrder = ViewBag.TitleSortParam, Search = Request.QueryString["Search"] })</th>
                                    <th scope="col">@Html.ActionLink("CATEGORY", "SpamReports", new { SortOrder = ViewBag.CategorySortParam, Search = Request.QueryString["Search"] })</th>

                                    <th scope="col">@Html.ActionLink("DATE ADDED", "SpamReports", new { SortOrder = ViewBag.DateSortParam, Search = Request.QueryString["Search"] })</th>

                                    <th>REMARK</th>
                                    <th class="text-center">ACTION</th>
                                    <th></th>
                                 
                                </tr>
                            </thead>
                            <tbody>

                                @{ IPagedList<Notes_MarketPlace.Models.SpamReportsmodel> SpamReportNote = ViewBag.NotesSpamReport; }

                                @{ var count = 0;
                                    if (SpamReportNote.Count == 0)
                                    {
                                        <tr>
                                            <td colspan="9" class="text-center NoRecord">No Records Found</td>
                                        </tr>
 } }
                                @foreach (var item in SpamReportNote)
                                {

                                    <tr>
                                        <td>@(count + ((SpamReportNote.PageNumber - 1) * SpamReportNote.PageSize) + 1)</td>
                                        <td>@item.user.FirstName @item.user.LastName</td>
                                        <td>
                                            <a href="/Admin/NoteDetailsAdmin/@item.NoteDetails.ID">  @item.NoteDetails.NoteTitle</a>
                                        </td>
                                        <td>
                                            @item.Category.CategoryName
                                        </td>
                                        <td>
                                            @item.Reports.ModifiedDate.Value.ToString("dd-MM-yyyy, HH:mm")
                                        </td>
                                        <td>
                                            @item.Reports.Remarks
                                        <td>
                                            <a onclick="return confirm('Are You Sure For Delete ?')" class="dropbtn " href="/Admin/DeleteSpamReport/@item.Reports.ID"><i class="fas fa-trash"></i></a></td>
                                        <td>
                                            <div class="dropdown">
                                                <i class="fas fa-ellipsis-v" type="button" id="dropdownMenuButton"
                                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                </i>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-right "
                                                     aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="/Front/AttechedFile/@item.NoteDetails.ID">Download Notes</a>
                                                    <a class="dropdown-item" href="/Admin/NoteDetails_Admin/@item.NoteDetails.ID">View More Details</a>
                                                    
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    { count = count + 1; }

                                }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

                <div class="row paging">
                    <div class="col-md-12 text-center">
                


                            @Html.PagedListPager(SpamReportNote, page => Url.Action("SpamReports", new
                       {
                           page,
                           Search = Request.QueryString["Search"],
                           SortOrder = Request.QueryString["SortOrder"],

                       })
, new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded,
    DisplayPageCountAndCurrentLocation = false,
    MaximumPageNumbersToDisplay = 5,
    LiElementClasses = new string[] { "pagination" },
}
)
                        
                    </div>
                </div>
            </div>

        </section>



        <script src="~/Scripts/AdminJs/bootstrap/popper.min.js"></script>

        <script src="~/Scripts/AdminJs/script.js"></script>

    </body>

</html>
