@model Notes_MarketPlace.Models.ChangePassword
@{ ViewBag.Title = "ChangePassword";
                Layout = null; }
<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 ,user-scalable=no">

    <link rel="stylesheet" href="~/Content/css/bootstrap/bootstrap.min.css">


    <title>Change Password</title>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/font-awesome/css/all.css">
    <link rel="stylesheet" href="~/Content/css/logins-type.css">

    <link rel="stylesheet" href="~/Content/css/logins-type-responsive.css">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/script.js"></script>


</head>

<body class="bg" style="background-image: url('@Url.Content("~/Userimages/pre-login/banner-with-overlay.jpg")');">
    <div class="container">

        <center>
            <div class="top-logo">
                <img src="~/Userimages/pre-login/top-logo.png" width="200" height="30">
            </div>
        </center>

        <div class="card">
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm("ChangePassword", "Front", FormMethod.Post, new { @class = "box" }))
                    {

        <center><h1 class="pg"> Change Password </h1></center>
                        <center><h3 class="subtitle"> Enter your new password to change your password </h3></center>

                                        <div class="form-group">
                                            <label for="OldPassword" class="infocp"> Old Password </label>
                                            <input type="password" class="form-control password-field-cp" id="cppsw" name="OldPassword" placeholder="Enter your old password">
                                            <span toggle="#cppsw" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @name = "OldPassword", @class = "text-danger errormessage"})
                                            @if (@TempData["IncorrectPwd"] != null)
                                            {
                            <h6 class="text-danger">@TempData["IncorrectPwd"]</h6>}
                                        </div>

                                                        <div class="form-group">
                                                            <label for="NewPassword" class="infocp"> New Password </label>
                                                            <input type="password" class="form-control password-field-cp" id="cppsw1" name="NewPassword" placeholder="Enter your new password">
                                                            <span toggle="#cppsw1" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @name = "NewPassword", @class = "text-danger errormessage" })
                                                        </div>

                                                                        <div class="form-group">
                                                                            <label for="ConfirmPassword" class="infocp"> Confirm Password </label>
                                                                            <input type="password" class="form-control password-field-cp" name="ConfirmPassword" id="cppsw2" placeholder="Enter your confirm password" />
                                                                            <span toggle="#cppsw2" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                                                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @name = "ConfirmPassword", @class = "text-danger errormessage" })
                                                                        </div>
                                                                                        <button type="submit" class="btn" id="btn-cp"><b>SUBMIT</b></button>}

                </div>
            </div>
        </div>
    </div>
    <script>

        $(".toggle-password").click(function () {

            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    </script>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
