@model Notes_MarketPlace.Models.SellerNotesModel
@{
    ViewBag.Title = "EditNote";
}


<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, intial-scale=1">

    <title>Add Notes</title>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/css/forms.css" type="text/css" />

    <link rel="stylesheet" href="~/Content/css/responsive-forms.css" type="text/css" />

</head>

<body>


    <section id="add-notes">

        <div class="container-fluid">
            <div class="row">
                <div class="banner-outer col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="banner-box">
                        <img src="~/Userimages/assets/banner-with-overlay.jpg" alt="bg-overlay" class="image-responsive">
                        <h1>Add Notes</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid" id="add-notes-box">

            @using (Html.BeginForm("EditNote/" + @Model.ID, "Front", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {


                <h2>Basic Notes Details</h2>
                <h3> @User.Identity.Name </h3>
                <h1> @Request.Cookies["ID"].Value </h1>

                <div class="row">

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">

                            @Html.LabelFor(x => x.NoteTitle, "Title *", new { })
                            <input type="hidden" name="ID" value="@Model.ID">
                            @Html.TextBoxFor(x => x.NoteTitle, new { @class = "form-control", @id = "an-title", @Type = "text", @placeholder = "Enter your notes title" , @value = "@Model.NoteTitle" })
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">

                            <label for="NoteCategory"> Category *</label>

                                                                                       @Html.DropDownList("NoteCategory", new SelectList(ViewBag.NoteCategory, "ID", "CategoryName"), "Select Your Category", new { name = "NoteCategory", @class = "form-control", @id = "an-category" })

                            @Html.ValidationMessageFor(model => model.NoteCategory, "", new { @class = "text-danger errormessage error_field" })
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.DisplayPicture, "Display Picture", new { })
                            <a onClick="document.getElementById('an-dpicture').click()" class="btn" id="an-upload-btn">

                                <img id="an-img-preview" src="" alt="Image Preview">

                                <span id="an-default-text">
                                    <img src="~/Userimages/assets/upload.png" alt="upload"><br>
                                    Upload a picture

                                </span>


                            </a>
                            <input type="file" style="display: none" class="form-control" id="an-dpicture" name="DisplayPicture" />

                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.UploadNote, "Upload Notes *", new { })
                            <a onClick="document.getElementById('an-unote').click()" class="btn" id="an-noteupload-btn">

                                <img id="an-noteimg-preview" src="" alt="Image Preview">

                                <span id="an-notedefault-text">
                                    <img src="~/Userimages/upload-note.png" alt="upload note"><br>
                                    Upload your notes
                                </span>

                            </a>
                            <input type="file" style="display: none" class="form-control" id="an-unote" name="UploadNote" />

                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.NoteType, "Type", new { })
      

                            @Html.DropDownList("NoteType", new SelectList(ViewBag.NoteType, "ID", "TypeName"), "Select Your note type", new { name = "NoteType", @class = "form-control", @id = "an-type" })

                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.NumberOfPages, "Number of Pages", new { })
                            @Html.TextBoxFor(x => x.NumberOfPages, new { @class = "form-control", @id = "an-nop", @Type = "text", @placeholder = "Enter your note pages", @value = "@Model.NumberOfPages"})
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            @Html.LabelFor(x => x.NoteDescription, "Description *", new { })
                            @Html.TextAreaFor(x => x.NoteDescription, new { @style = "resize: none", @rows = "4", @class = "form-control", @id = "an-description", @Type = "text", @placeholder = "Enter your Description", @value = "@Model.NoteDescription" })
                        </div>
                    </div>

                </div>

                <h2>Institution Information</h2>

                <div class="row">

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">

                            @Html.LabelFor(x => x.Country, "Country", new { })
                       
                            @Html.DropDownList("Country", new SelectList(ViewBag.Country, "ID", "CountryName"), "Select Your Country", new { name = "Country", @class = "form-control", @id = "an-country" })

                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.UniversityInformation, "Institute Name", new { })
                            @Html.TextBoxFor(x => x.UniversityInformation, new { @class = "form-control", @id = "an-iname", @Type = "text", @placeholder = "Enter your institute name", @value = "@Model.UniversityInformation" })
                        </div>
                    </div>

                </div>

                <h2>Course Details</h2>

                <div class="row">

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Course, "Course Name", new { })
                            @Html.TextBoxFor(x => x.Course, new { @class = "form-control", @id = "an-crname", @Type = "text", @placeholder = "Enter your course name", @value = "@Model.Course" })
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.CourseCode, "Course Code", new { })
                            @Html.TextBoxFor(x => x.CourseCode, new { @class = "form-control", @id = "an-crcode", @Type = "text", @placeholder = "Enter your course code", @value = "@Model.CourseCode" })
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.ProfessorName, "Professor/Lacturar", new { })
                            @Html.TextBoxFor(x => x.ProfessorName, new { @class = "form-control", @id = "an-professor", @Type = "text", @placeholder = "Enter your professor name", @value = "@Model.ProfessorName" })
                        </div>
                    </div>

                </div>

                <h2>Selling Information</h2>

                <div class="row">

                    <div class="col-md-6 col-sm-6">

                        <span id="sell-for">Sell For *</span>

                        <div class="radio-group">

                            <label for="free" class="radio-btn">
                                                        @Html.RadioButtonFor(m => m.isPaid, "false", new { @id = "free", @Type = "radio", name = "radio" })
                                Free
                                <span></span><span class="border-span"></span>
                            </label>

                            <label for="paid" class="radio-btn">

                                                              @Html.RadioButtonFor(m => m.isPaid, "true", new { @id = "paid", @Type = "radio", name = "radio" })
                                Paid
                                <span></span><span class="border-span"></span>
                            </label>

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.SellPrice, "Sell Price *", new { })
                            @Html.TextBoxFor(x => x.SellPrice, new { @class = "form-control", @id = "an-sellprice", @Type = "text", @placeholder = "Enter your price", @value = "@Model.SellPrice" })
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">

                        <div class="form-group">

                            @Html.LabelFor(x => x.PreviewUpload, "Note Preview", new { })
                            <a onClick="document.getElementById('an-notepreview').click()" class="btn" id="an-npupload-btn">

                                <img id="an-note-preview" src="" alt="Image Preview">

                                <span id="an-npdefault-text">
                                    <img src="~/Userimages/assets/upload.png" alt="upload"><br>
                                    Upload a file
                                </span>

                            </a>
                            <input type="file" style="display: none" class="form-control" id="an-notepreview" name="PreviewUpload" />
                           
                        </div>

                    </div>

                </div>

                <button class="btn submit-btn" id="an-save-btn">SAVE</button>

                <button class="btn submit-btn" type="submit" value="submit" id="an-publish-btn">PUBLISH</button>


            }
        </div>

    </section>

    <script src="~/Scripts/jquery.min.js"></script>

    <script src="~/Scripts/js/forms.js"></script>

    <script src="~/Scripts/js/forms.js"></script>

</body>

</html>