@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "MyRejectedNote";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, intial-scale=1">

    <title>My Rejected Notes</title>

    <link href="~/Content/css/style.css" rel="stylesheet">

    <link href="~/Content/css/responsive.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
          rel="stylesheet">


</head>

<body>


    <section class="rejected_notes">

        <div class="container">
            <div class="middle-head">
                <p>My Rejected Notes </p>
                @using (Html.BeginForm("MyRejectedNote", "Front", FormMethod.Get, new { id = "AllSeachNote" }))
                {
                    <div class="search form-inline">
                        <div class="searchContainer form-group">
                            <i class="fas fa-search form-control-feedback "></i>
                            <input type="text" name="SearchNoteTitle" class="form-control" placeholder="Search" />
                        </div>

                    </div>
                    <div class="bttn">
                        <button type="submit" class="btn allBtn">SEARCH</button>
                    </div>
                }

            </div>


            <div class="row myRejectedNotes">

                <div class="col-md-12">
                    <div class="table-responsive{-sm|-md|-lg|-xl} data-table rejected_note">
                        <table class="table table-bordered text-nowrap">
                            <style>
                                th > a {
                                    color: black;
                                }
                            </style>
                            <thead>
                                <tr>
                                 

                                    <th>SR NO.</th>
                                    <th>@Html.ActionLink("NOTE TITLE", "MyRejectedNote", new { SortOrderProgress = ViewBag.TitleSortParm, SearchText = Request.QueryString["SearchText"] }) </th>

                                    <th>@Html.ActionLink("CATEGORY", "MyRejectedNote", new { SortOrderProgress = ViewBag.CategorySortParm, SearchText = Request.QueryString["SearchText"] })</th>
                                    <th>REMARKS</th>
                                    <th>CLONE </th>
                                    <th class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody>

                                @{ IPagedList<Notes_MarketPlace.Models.RejectedNote> Rejected = ViewBag.MyRejectedNote; }

                                @{ var count = 0;

                                    if (Rejected.Count == 0)
                                    {
                                        <tr>
                                            <td colspan="6" class="text-center NoRecord">No Records Found</td>
                                        </tr>
 }

                                    foreach (var Note in Rejected)
                                    {

                                        <tr>
                                            <td>@(count + ((Rejected.PageNumber - 1) * Rejected.PageSize) + 1)</td>
                                            <td><a style="color:#6255a5" href="/HomePage/NoteDetails/@Note.NoteDetails.ID"> @Note.NoteDetails.NoteTitle</a></td>
                                            <td> @Note.Category.CategoryName</td>
                                            <td> @Note.NoteDetails.AdminRemarks</td>
                                            <td><a onclick="return confirm('Are You Sure For Clone !!')" style="color:#6255a5" href="/Front/Clone/@Note.NoteDetails.ID"> Clone</a></td>
                                            <td>
                                                <div class="dropdown">
                                                    <i class="fas fa-ellipsis-v" type="button" id="dropdownMenuButton"
                                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    </i>
                                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-right "
                                                         aria-labelledby="dropdownMenuButton">
                                                        <a class="dropdown-item" href="/Front/AttechedFile/@Note.NoteDetails.ID">Download Note</a>

                                                    </div>
                                                </div>

                                            </td>
                                        </tr>

                                        { count = count + 1; }
                                    }
                                }





                            
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>

            <div class="row paging">
                <div class="col-md-12 text-center">
                   


                        @Html.PagedListPager(Rejected, page => Url.Action("MyRejectedNote", new
                   {
                       page,
                       SearchText = Request.QueryString["SearchText"],
                       SortOrderProgress = Request.QueryString["SortOrderProgress"]

                   })
                       , new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded,
                           DisplayPageCountAndCurrentLocation = false,
                           MaximumPageNumbersToDisplay = 5,
                           LiElementClasses = new string[] { "pagination" },
                       }
                       )


                </div>
            </div>
        </div>
       
    </section>








    <script src="~/Scripts/js/jQuery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/Scripts/js/bootstrap/popper.min.js"></script>



</body>

</html>