@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Notes_MarketPlace.Models.MySoldNote>

@{
    ViewBag.Title = "MySoldNotes";
}


<!DOCTYPE html>
<html lang="en">

<head>

    <!--Important meta tags-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, intial-scale=1">

    <!--Custom css-->
    <link href="~/Content/css/style.css" rel="stylesheet">

    <!-- Responsive css-->
    <link href="~/Content/css/responsive.css" rel="stylesheet">

</head>

<body>


    <section class="my_sold_notes">

        <div class="container">
            <div class="middle-head">
                <p> My Sold Notes </p>

                @using (Html.BeginForm("MySoldNotes", "Member", FormMethod.Get, new { id = "AllSeachNote" }))
                {
            <div class="search form-inline">
                <div class="searchContainer form-group">
                    <i class="fas fa-search form-control-feedback "></i>
                    <input type="text" name="SearchNoteTitle" class="form-control" placeholder="Search" />
                </div>

            </div>
                            <div class="bttn">
                                <button type="submit" class="btn allBtn">SEARCH</button>
                            </div> 
                }

                                                        </div>


            <div class="row my_sold_note">

                <div class="col-md-12">
                    <div class="table-responsive{-sm|-md|-lg|-xl} data-table sold_notes">
                        <table class="table table-bordered text-nowrap">
                            <thead>

                                <tr>
                                    <th>SR NO.</th>
                                    <th > @Html.ActionLink("NOTE TITLE", "MySoldNotes", new { SortOrder = ViewBag.TitleSortParm, SearchNoteTitle = Request.QueryString["SearchNoteTitle"] })</th>
                                    <th > @Html.ActionLink("CATEGORY", "MySoldNotes", new { SortOrder = ViewBag.CategorySortParm, SearchNoteTitle = Request.QueryString["SearchNoteTitle"] })</th>
                                    <th>BUYER</th>
                                    <th >@Html.ActionLink("SELL TYPE", "MySoldNotes", new { SortOrder = ViewBag.SellTypeSortParm, SearchNoteTitle = Request.QueryString["SearchNoteTitle"] })</th>
                                    <th >@Html.ActionLink("PRICE", "MySoldNotes", new { SortOrder = ViewBag.PriceSortParm, SearchNoteTitle = Request.QueryString["SearchNoteTitle"] })</th>
                                    <th >@Html.ActionLink("DOWNLOADED DATE/TIME", "MySoldNotes", new { SortOrder = ViewBag.DateSortParm, SearchNoteTitle = Request.QueryString["SearchNoteTitle"] })</th>
                                    <th ></th>
                                </tr>


                            </thead>
                            <tbody>

                                @{ var count = 0;

                                    if (Model.Count == 0)
                                    {
                            <tr>
                                <td colspan="8" class="text-center NoRecord">No Records Found</td>
                            </tr> }

                                        foreach (var Note in Model)
                                        {
                            <tr>
                                <td>@(count + ((Model.PageNumber - 1) * Model.PageSize) + 1)</td>
                                <td><a href="/HomePage/NoteDetails/@Note.DownloadNote.NoteID"> @Note.DownloadNote.NoteTitle</a></td>
                                <td>@Note.DownloadNote.NoteCategory</td>
                                <td>arpitprajapati92.am@gmail.com</td>
                                <td>
                                    @if (@Note.DownloadNote.IsPaid == true)
                                    {
                            <text>Paid</text> }
                        else
                        {
                            <text>Free</text>}
                                </td>
                                <td>$<span class="count">@Note.DownloadNote.PurchasedPrice</span></td>
                                <td>@Note.DownloadNote.CreatedDate</td>
                                <td>
                                    <i class="far fa-eye"></i>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <i class="fas fa-ellipsis-v" type="button" id="dropdownMenuButton"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        </i>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-right "
                                             aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Download Note</a>

                                        </div>
                                    </div>
                                </td>
                            </tr>
 { count = count + 1; }
                        } }
                                @*<tr>
            <td>2</td>
            <td>Software Engineer</td>
            <td>IT</td>
            <td> xyz@gmail.com</td>
            <td>Free</td>
            <td>$0</td>
            <td>09-10-2020, 10:10</td>
            <td>
                <i class="far fa-eye"></i>
            </td>
            <td>
                <div class="dropdown">
                    <i class="fas fa-ellipsis-v" type="button" id="dropdownMenuButton"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </i>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-right "
                         aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Download Note</a>

                    </div>
                </div>
            </td>

        </tr>
        <tr>
            <td>3</td>
            <td>Software Engineer</td>
            <td>IT</td>
            <td> xyz@gmail.com</td>
            <td>Paid</td>
            <td>$500</td>
            <td>09-10-2020, 10:10</td>
            <td>
                <i class="far fa-eye"></i>
            </td>
            <td>
                <div class="dropdown">
                    <i class="fas fa-ellipsis-v" type="button" id="dropdownMenuButton"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </i>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-right "
                         aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Download Note</a>

                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>Software Engineer</td>
            <td>IT</td>
            <td> xyz@gmail.com</td>
            <td>Paid</td>
            <td>$200</td>
            <td>09-10-2020, 10:10</td>
            <td>
                <i class="far fa-eye"></i>
            </td>
            <td>
                <div class="dropdown">
                    <i class="fas fa-ellipsis-v" type="button" id="dropdownMenuButton"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </i>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-right "
                         aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Download Note</a>

                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>5</td>
            <td>Software Engineer</td>
            <td>IT</td>
            <td> xyz@gmail.com</td>
            <td>Free</td>
            <td>$0</td>
            <td>09-10-2020, 10:10</td>
            <td>
                <i class="far fa-eye"></i>
            </td>
            <td>
                <div class="dropdown">
                    <i class="fas fa-ellipsis-v" type="button" id="dropdownMenuButton"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </i>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-right "
                         aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Download Note</a>

                    </div>
                </div>
            </td>
        </tr>
                                *@
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="row paging">
                <div class="col-md-12 text-center">
                    <div class="pagination ">
                        @*<a href="#" style="margin-right: 10px;"><i class="fa fa-angle-left"></i></a>
                            <a href="#" class="active">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#" style="margin-left: 10px;"><i class="fa fa-angle-right"></i></a>*@

                        @Html.PagedListPager(Model, page => Url.Action("MyDownloads", new
                        {
                            page,
                            SearchNoteTitle = Request.QueryString["SearchNoteTitle"],
                            SortOrder = Request.QueryString["SortOrder"]
                        })
                     , new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true }
                     )


                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>






    <script src="~/Scripts/jQuery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/Scripts/bootstrap/popper.min.js"></script>
    <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>

</body>

</html>